@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

@keyframes fadeIn {
  100% {
    opacity: 1;
  }
  50% {
    opactiy: 0;
  }
  0% {
    opacity: 0;
  }
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  50% {
    opactiy: 0;
  } 
  100% {
    opacity: 0;
  }
}

.fadeIn {
  opacity: 1;
  -moz-animation: fadeIn 0.25s linear;
  animation: fadeIn 0.25s linear;
}

.fadeOut {
  opacity: 1;
  -moz-animation: fadeOut 0.5s linear;
  animation: fadeOut 0.55s linear;
}

:root {
  --card-fade-timing: 1.25s;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

body {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  letter-spacing: 1px;
  flex-direction: column;
}

.header {
  width: 90%;
  max-width: 1000px;
  align-items: center;
}

.card-holder {
  width: 90%;
  max-width: 1000px;
  display: flex;
  flex-flow: row wrap;
  margin: 25px 0 0 0;
}
.card {
  width: 25%;
  height: 275px;
  min-width: 200px;
  padding: 5px;
  /*   transition: opacity var(--card-fade-timing);
  opacity: 0; */
}

/* .shown {
  opacity: 1;
} */

.card-inner {
  width: 100%;
  background-color: red;
  height: 85%;
  overflow: hidden;
  position: relative;
}

.card-inner img{
  position: absolute;
}

.card-img {
  object-fit: cover;
  object-position: center;
  overflow: hidden;
  height: 100%;
  min-width: 100%;
  /* height: 100%; */
}

.card-img-active {
  object-fit: cover;
  object-position: center;
  overflow: hidden;
  height: 100%;
  min-width: 100%;
  z-index: 2;
}

.card-content {
  margin: 2px 0 10px 0;
  letter-spacing: 0.01em;
  font-size: 12px;
}

.tag-holder {
  width: 100%;
  max-width: 1000px;
  margin: 12.5px 0 12.5px 0px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: top;

  font-family: "SelfModern";
}

.tag-label {
  padding: 0 0 5px 0;
  letter-spacing: 0.05em;
}

.tag-divider {
  width: 50%;
  display: inline-block;
  padding: 0 0 0 5px;
}

.tag {
  width: 80%;
  font-size: 12px;
  margin: 5px 25px 0px 0px;
  padding: 0px 0px 0px 0px;
  background-color: none;
  height: 15px;
  border-radius: 2em;
  border: 0px solid;
  text-align: centre;
  vertical-align: top;
  display: flex;
  letter-spacing: 1px;
  text-transform: uppercase;

  font-family: "Grosa";
  letter-spacing: 0.04em;
}

.tag.active {
  font-weight: 700;
}

.tag-holder-divider {
  width: 1px;
  background-color: black;
  margin: 0px 10px 0 0;
}

.tag-holder-horizontal-line {
  height: 1px;
  background-color: black;
  width: 100%;
  max-width: 1000px;  
}

.tag img {
  height: 0px;
  transform: translate(0px, -2px); 
}

.tag.active img {
  height: 10px;
  margin: 2.5px 5px 0 0;
  transform: translate(0, -2px);
}



#toggle {
  transition: 0.5s;
  position: relative;
  display: block;
  width: 60px;
  height: 30px;
  cursor: pointer;
  border-radius: 20px;
  background: rgba(13, 13, 13, 0.2);
  transform: translateY(-7px);
  box-shadow: inset 0 4px 4px rgba(0, 0, 0, 0.1),
              inset 0 4px 2px rgba(0, 0, 0, 0.1),
              inset 0 -2px 1px rgba(0, 0, 0, 0.1);
}

#toggle .indicator {
  position: absolute;
  top: 0;
  top: 0;
  width: 30px;
  height: 30px;
  background-color: var(--main-bg-colour);
  /* background: linear-gradient(to bottom, rgba(1, 1, 1, 0.2), rgba(1, 1, 1, 0.2)); */
  border-radius: 50%;
  transform: scale(0.9);
  box-shadow: 0 4px 4px rgba(0,0,0,0.5),
              inset 0 2px 2px rgba(255,255,255,0.2),
              inset 0px -2px 2px rgba(255,255,255,0.2);
  transition: 0.5s;           
}

#toggle.active .indicator {
  left: 30px;
  transition: 0.5s;   
}

#settings {
  display: flex;
  justify-content: space-between;
}