@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

@keyframes fadeIn {
  100% {
    opacity: 1;
  }
  50% {
    opactiy: 0;
  }
  0% {
    opacity: 0;
  }
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  50% {
    opactiy: 0;
  } 
  100% {
    opacity: 0;
  }
}

.fadeIn {
  opacity: 1;
  -moz-animation: fadeIn 0.25s linear;
  animation: fadeIn 0.25s linear;
}

.fadeOut {
  opacity: 1;
  -moz-animation: fadeOut 0.5s linear;
  animation: fadeOut 0.55s linear;
}

:root {
  --card-fade-timing: 1.25s;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

body {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  letter-spacing: 1px;
  flex-direction: column;
}

.modal {
  position: absolute;
  z-index: 2;
  background: none;
  border: none;
  top: 50%;
  transform: scale(0) translateY(-50%);
  transition: 300ms ease-in-out;
  z-index: 2;
  background-color: white;
  width: 75%;
  max-width: 1200px;
  min-width: 900px;

  height: 75%;
  min-height: 750px;

  letter-spacing: 0;
  overflow: hidden;

  display: flex;

  align-items: center;
  justify-content: center;

}

.modal.active {
  transform: scale(1) translateY(-50%);
  /* transform: translate(0%, 25%); */
  background-color: #00000080;
}

.modal-content {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;  

}

.modal-left {
  flex: 1;
  padding: 10px;
  
}

.modal-right {
  flex: 2;
  min-width: 0;
  /* padding: 0 0 0 25px; */
  height: 100%;
}

.modal-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid black;
  padding-bottom: 10px;
}

.modal-header .modal-title {
  font-size: 2em;
  font-weight: bold;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.modal-header button {
  cursor: pointer;
  border: none;
  outline: none;
  background: none;
  font-size: 1.25rem;
  font-weight: bold;
}

.modal-body {
  padding-top: 10px;
}

.modal-colour {
  width: 100%;
  padding-top: 25px;;
}

.colour-gradient {
  width: 100%;
  height: 150px;
  display: grid;
  place-items: center;
  height: 200px;
  width: 300px;
  background:
  radial-gradient(ellipse at top     left, rgb(236, 249, 87)  15% , transparent 60%), 
  radial-gradient(ellipse at bottom  left, rgb(247, 69, 204)  15% , transparent 60%),
  radial-gradient(ellipse at top    right, rgb(121, 238, 196) 15% , transparent 60%),
  radial-gradient(ellipse at bottom right, rgb(81, 82, 213)   15% , transparent 60%)
}



.colour-divider {
  height: 25px;
  width: 100%;
}

.colour-swatch {
  width: 20px;
  height: 20px;
  display: inline-block;
  background-color: black;
}


#overlay {
  position: fixed;
  opacity: 1;
  background-color: rgba(1, 1, 1, 0.5);
  backdrop-filter: blur(5px);
  transition: 200ms ease-in-out;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  pointer-events: none;
  opacity: 0;
}

#overlay.active {
  pointer-events: all;
  opacity: 1;
}

.header {
  width: 90%;
  max-width: 1000px;
  align-items: center;
}

.card-holder {
  width: 90%;
  max-width: 1000px;
  display: flex;
  flex-flow: row wrap;
  margin: 25px 0 0 0;
}
.card {
  width: 25%;
  height: 200px;
  min-width: 200px;
  padding: 5px;
  /*   transition: opacity var(--card-fade-timing);
  opacity: 0; */
}

/* .shown {
  opacity: 1;
} */

.card-inner {
  width: 100%;
  background-color: red;
  height: 75%;
}

.card-content {
  margin: 10px 0 10px 0;
}

.tag-holder {
  width: 90%;
  max-width: 1000px;
  margin: 20px 0 20px 0px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: top;

  font-family: "SelfModern";
}

.tag-divider {
  width: 50%;
  display: inline-block;
}

.tag {
  width: 80%;
  font-size: 13px;
  margin: 5px 25px 0px 0px;
  padding: 10px 0px 10px 0px;
  background-color: none;
  height: 25px;
  border-radius: 2em;
  border: 0px solid;
  text-align: centre;
  vertical-align: top;
  display: flex;
  letter-spacing: 1px;
  text-transform: uppercase;

  font-family: "Grosa";
}

.tag.active {
  font-weight: 700;
}

.tag-holder-divider {
  width: 1px;
  background-color: black;
  margin: 0px 10px 0 0;
}

.tag-holder-horizontal-line {
  height: 1px;
  background-color: black;
  width: 100%;
  max-width: 1000px;  
}

.tag img {
  height: 0px;
  transform: translate(0px, -2px); 
}

.tag.active img {
  height: 15px;
  margin: 0 5px 0 0;
  transform: translate(0, -2px);

}